@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-pagination-item {
    border-radius: 100% !important;
}
.ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    background-color: #fba51a !important;
    border: none !important;
    border-color: none !important;
    border-radius: 100%;
}

.ant-pagination .ant-pagination-item-active a {
    color: #ffffff !important;
}
.custom-label {
    color: #636363;
    font-size: 16px;
}
.ant-tabs-tab.ant-tabs-tab-disabled {
    cursor: default !important;
    opacity: 1 !important;
}
.ant-select-selector {
    border-radius: 24px !important;
}
.ant-collapse-header-text {
    font-family: Poppins !important;
    color: #5c5c5c !important;
    font-size: 24px !important;
    font-weight: 500 !important;
}

.ant-collapse-content-box {
    color: #5c5c5c !important;
}

.errorContainer {
    background: #ffffff;
    background: radial-gradient(at center, #ffffff, #ccdefc);
}

.ant-otp-input {
    border-radius: 14px !important;
    padding: 15px !important;
    border: 1px solid #0a8fdc;
}
